.form {
    width: 30vw;
    border: solid 1px lightgrey;
    padding: 2vw;
    line-height: 150%;
    border-radius: 25px;
    box-shadow: 0px 5px 10px lightgrey;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 95%;
    background-color: white ;
    margin-top: 12rem;
}

.login-background {
    background: url("https://res.cloudinary.com/syltiva/image/upload/v1638389815/1477372666.38_lyrowq.jpg") center/cover no-repeat fixed;
    min-height: 100vh;
}

    